In [5]:
import time
import sentencepiece as spm
import tokenizers.Sentence

82162158.4

In [8]:
import pandas as pd


pretrain_tok_time = {'1M':200,
                     '5M':500,
                     '10M':3000}
# Convert dictionary to DataFrame
df = pd.DataFrame(pretrain_tok_time, index=['tokeniser train time (GPU)'])
df = df.transpose()
df.to_csv('pretrain_info.csv', index=True)

In [10]:
df

  Unnamed: 0  tokeniser train time (GPU)
0         1M                         200
1         5M                         500
2        10M                        3000

In [12]:
# Path to the existing CSV file
file_path = 'pretrain_info.csv'

# Read the existing CSV file into a DataFrame
df = pd.read_csv(file_path)

df

  pretrain size  tokeniser train time (GPU)  model train time (GPU)
0            1M                           0                       0
1            5M                           0                       0
2           10M                           0                       0
3           20M                           0                       0
4           50M                           0                       0
5          100M                           0                       0

In [13]:
df['tokeniser train time (GPU)'][0]=1
df

/var/folders/sr/80trfjwn4072ttp75pgq7m0c0000gn/T/ipykernel_17996/3561130867.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['tokeniser train time (GPU)'][0]=1
/var/folders/sr/80trfjwn4072ttp75pgq7m0c0000gn/T/ipykernel_17996/3561130867.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tokeniser train time (GPU)'][0]=1

  pretrain size  tokeniser train time (GPU)  model train time (GPU)
0            1M                           1                       0
1            5M                           0                       0
2           10M                           0                       0
3           20M                           0                       0
4           50M                           0                       0
5          100M                           0                       0